section(class="hero-section")
    div#hero_slider(class="hero-section__container swiper")
        div(class="hero-section__wrapper swiper-wrapper")
            div(class="hero-section__slide swiper-slide")
                img(src="assets/hero_banner.webp", alt="Hero banner")
            div(class="hero-section__slide swiper-slide")
                img(src="assets/hero_banner.webp", alt="Hero banner")
            div(class="hero-section__slide swiper-slide")
                img(src="assets/hero_banner.webp", alt="Hero banner")
            div(class="hero-section__slide swiper-slide")
                img(src="assets/hero_banner.webp", alt="Hero banner")
            div(class="hero-section__slide swiper-slide")
                img(src="assets/hero_banner.webp", alt="Hero banner")
        div(class="swiper-pagination")
    video(poster="assets/hero_thumbnail.webp" src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" alt="Hero video" muted autoplay) 
    div(class="hero-section__headline")
        div(class="hero-section__headline_container")
            h1(class="hero-section__headline_title") GO88 - quy chuẩn quản trị hệ thống Igaming quốc tế
            p(class="hero-section__headline_description") Đảm bảo tính công bằng, bảo mật và quyền lợi sở hữu trí tuệ cho toàn bộ hệ sinh thái Go88
