section(class="production-section")
    div#production_slider(class="production-section__container swiper")
        div(class="production-section__wrapper swiper-wrapper")
            div(class="production-section__slide swiper-slide")
                img(src="assets/product_black_jack.webp" alt="Production")
                span(class="production-section__slide_title") GAME BÀI
                span(class="production-section__slide_active-players") 3000 người đang tham gia
            div(class="production-section__slide swiper-slide")
                img(src="assets/product_slot_game.webp" alt="Production")
                span(class="production-section__slide_title") SLOT GAME
                span(class="production-section__slide_active-players") 3000 người đang tham gia
            div(class="production-section__slide swiper-slide")
                img(src="assets/product_live_game.webp" alt="Production")
                span(class="production-section__slide_title") LIVE CASINO
                span(class="production-section__slide_active-players") 3000 người đang tham gia
