section(class="tech-section")
    div(class="tech-section__container")
        div(class="tech-section__column")
            div(class="regular-hexagon")
                div(class="regular-hexagon__outter")
                div(class="regular-hexagon__inner hexagon-container") 
                    span(class="hexagon-container__icon")
                        include ../../icons/standard_encrypt.svg
                    div(class="hexagon-container__text")
                        span(class="hexagon-container__text_title") Tiêu chuẩn mã hóa
                        span(class="hexagon-container__text_detail") 256BIT-AES
            div(class="regular-hexagon")
                div(class="regular-hexagon__outter")
                div(class="regular-hexagon__inner hexagon-container") 
                    span(class="hexagon-container__icon")
                        include ../../icons/standard_kyc.svg
                    div(class="hexagon-container__text")
                        span(class="hexagon-container__text_title") Xác thực KYC
                        span(class="hexagon-container__text_detail") Bảo mật 2 lớp
            
        img(class="tech-section__logo" src="assets/logo.webp")

        div(class="tech-section__column")
            div(class="regular-hexagon")
                div(class="regular-hexagon__outter")
                div(class="regular-hexagon__inner hexagon-container") 
                    span(class="hexagon-container__icon")
                        include ../../icons/standard_server_status.svg
                    div(class="hexagon-container__text")
                        span(class="hexagon-container__text_title") Trạng thái sever
                        span(class="hexagon-container__text_detail") 2000 người đang online
            div(class="regular-hexagon")
                div(class="regular-hexagon__outter")
                div(class="regular-hexagon__inner hexagon-container") 
                    span(class="hexagon-container__icon")
                        include ../../icons/standard_md5.svg
                    div(class="hexagon-container__text")
                        span(class="hexagon-container__text_title") Kiểm định MD5
                        span(class="hexagon-container__text_detail") 100% minh bạch thuật toán
            
                        
                        