mixin videoPlayer(poster="assets/history/3.webp")
    div(class="video-player")
        video(src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" poster=poster alt="Video post of Canada history" loop=true) 
        button
            //- include ../../../assets/icons/_ic_caret.svg