footer(class="site-footer")
  div(class="site-footer__container")
    div(class="site-footer__main")
      div(class="site-footer__brand")
        include ./utils/_site_logo
        p(class="site-footer__brand_description")
          | GO88- Nền tảng giải trí trực tuyến hàng đầu, cung cấp một loạt các trò chơi đa dạng từ sòng bạc, trò chơi trực tuyến đến cá cược thể thao. Với giao diện thân thiện và dịch vụ chuyên nghiệp, Go88 cam kết mang lại trải nghiệm giải trí tuyệt vời cho người chơi.

      div(class="site-footer__nav")
        div(class="site-footer__column")
          p(class="site-footer__column_title") Pháp lý và tuân thủ
          ul(class="site-footer__column_list")
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Về chúng tôi
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Điều khoản dịch vụ
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Chính sách bảo mật
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Chính sách nạp & rút
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Chơi có trách nhiệm
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Chính sách KYC/AML
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Miễn trừ trách nhiệm

        div(class="site-footer__column")
          p(class="site-footer__column_title") Hỗ trợ và xác thực
          ul(class="site-footer__column_list")
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Support
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") FAQ
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Check link tool
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Trung tâm khiếu nại

        div(class="site-footer__column")
          p(class="site-footer__column_title") Sản phẩm
          ul(class="site-footer__column_list")
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Tải App Go88
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Slot, Nổ hũ
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Live Casino
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Trạng thái hệ thống
            li(class="site-footer__item")
              a(href="#" class="site-footer__link") Kiểm tra MD5

        div(class="site-footer__column")
          p(class="site-footer__column_title") Mạng xã Hội
          ul(class="site-footer__column_list")
            li(class="site-footer__item")
              a(href="mailto:Compliance@Go88.org" class="site-footer__link")
                span(class="site-footer__link_icon")
                  include ../icons/footer_mail.svg
                span(class="site-footer__link_text")  Compliance@Go88.org
            li(class="site-footer__item")
              a(href="#fb" class="site-footer__link")
                span(class="site-footer__link_icon")
                  include ../icons/footer_fb.svg
                span(class="site-footer__link_text") Facebook
            li(class="site-footer__item")
              a(href="#lk" class="site-footer__link")
                span(class="site-footer__link_icon")
                  include ../icons/footer_in.svg
                span(class="site-footer__link_text") Linked In
            li(class="site-footer__item")
              a(href="#ig" class="site-footer__link")
                span(class="site-footer__link_icon")
                  include ../icons/footer_ig.svg
                span(class="site-footer__link_text") Instagram
            li(class="site-footer__item")
              a(href="#twitter" class="site-footer__link") 
                span(class="site-footer__link_icon")
                  include ../icons/footer_x.svg
                span(class="site-footer__link_text") Twitter

    div(class="site-footer__certification")
      img(src="assets/partner_1.webp" alt="PAGCOR" )
      img(src="assets/partner_2.webp" alt="BMM" )
      img(src="assets/partner_3.webp" alt="iTech" )
      img(src="assets/partner_4.webp" alt="DMCA" )
      img(src="assets/partner_5.webp" alt="Gaming" )
      img(src="assets/partner_6.webp" alt="Support" )

    div(class="site-footer__bottom")
      p(class="site-footer__copyright") Go88 © 2026. Tất cả quyền được bảo lưu
      div(class="site-footer__dmca-status")
        img(src="assets/dmca.webp" alt="DMCA Protected")
