.idea
.vscode
.github
assets/upgrade-temp-backup
assets/upgrade
assets/uploads
assets/plugins/*
!assets/plugins/sport-plugin/
!assets/plugins/mft-football-odds/
wp-config.php
wp-config-sample.php
.DS_Store
*.log
Thumbs.db
*.map
figma/
*.tmp
*.swp
*.bak
node_modules/
docs/
