@use '../main.sass' as *



@layer components
    .hero-section
        @apply flex-container relative flex-col gap-3
        video
            @apply lg:hidden object-contain w-full
        &__container
            @apply max-lg:hidden
            .swiper-pagination 
                @apply space-x-2.5
                .swiper-pagination-bullet
                    @apply py-4 size-fit
                    .child
                        @apply w-10 h-1 rounded-full bg-gray-3 flex
                    &.swiper-pagination-bullet-active
                        @apply bg-transparent
                        .child
                            @apply bg-golden
        &__slide
            @apply flex-container relative
            &::before
                @apply content-[''] left-0 top-0 absolute size-full bg-hero
        &__headline
            @apply max-w-lmt lg:h-0 w-full px-5 flex lg:absolute z-[90] select-none
            &_container 
                @apply w-full flex-container lg:w-max lg:max-w-534px lg:gap-2.5 flex-col
            &_title
                @apply text-2xl lg:text-4xl font-extrabold max-lg:text-center
            &_description
                @apply text-xs lg:text-base font-semibold max-lg:text-center


    .tech-section
        @apply w-full flex-container pt-5 lg:pt-6 lg:bg-tech overflow-visible
        &__logo
            @apply max-lg:hidden mb-4 2xl:mb-6
        &__container
            @apply grid grid-cols-2 lg:grid-cols-3 max-w-lmd px-5 gap-3
        &__column
            @apply flex-container flex-col gap-3 lg:gap-6 w-full
            .regular-hexagon
                @apply w-full h-10 sm:h-14 lg:h-20
            .hexagon-container
                @apply px-18px sm:px-6 lg:px-10 2xl:px-14 flex items-center gap-2 sm:min-w-70
                &__icon
                    @apply text-xl sm:text-3xl lg:text-52px shrink-0
                &__text
                    @apply flex items-start flex-col capitalize sm:items-center sm:grow
                    &_title
                        @apply text-xs font-semibold line-clamp-1 sm:text-base lg:text-xl lg:font-bold
                    &_detail
                        @apply text-8px font-light text-gray-3 line-clamp-1 sm:text-xs lg:text-base
    
    .production-section
        @apply w-full flex-container pt-5 lg:pt-6 max-lg:bg-production-bg bg-production-layover-mb lg:bg-production-layover-dt bg-cover
        &__container
            @apply w-full max-w-lmd
        &__slide
            @apply flex-container relative opacity-0
            scale: 0.7
            transition: scale .5s ease-in-out, transform .3s ease-in-out, opacity .15s ease-in
            &.swiper-slide-prev, &.swiper-slide-active, &.swiper-slide-next
                opacity: 1
            &.swiper-slide-prev
                transform: translateX(20%)
            &.swiper-slide-active
                scale: 1
            &.swiper-slide-next
                transform: translateX(-20%)
            &_title
                @apply absolute top-0 bg-golden text-gradient text-8px lg:text-xl font-bold uppercase
            &_active-players
                @apply absolute top-0 text-8px lg:text-base font-light

