@use '../text_editor.css' as *

@font-face
  font-family: "Mulish"
  font-style: normal
  font-weight: 100 900
  font-display: swap
  src: url("../assets/fonts/mulish.woff2") format("woff2")

@font-face
  font-family: "Mulish"
  font-style: italic
  font-weight: 100 900
  font-display: swap
  src: url("../assets/fonts/mulish--italic.woff2") format("woff2")

@tailwind base
@tailwind components
@tailwind utilities

@layer base
  *
    @apply outline-none box-border overscroll-auto font-inherit

  html
    @apply flex justify-center overflow-x-clip scroll-smooth bg-black text-white

  body
    @apply font-arial text-base leading-relaxed text-inherit lg:bg-main bg-cover

  a
    @apply cursor-pointer

  svg, svg *
    @apply text-inherit

  *
    &::-webkit-scrollbar-track
      @apply bg-golden rounded-full shadow-scroll
    &::-webkit-scrollbar-thumb
      @apply bg-white/40 rounded-full


@layer components

  .site-body
    @apply min-h-screen w-full relative lg:gap-2.5 flex flex-col items-center font-mulish

  .site-header
    @apply w-full flex-container transition duration-300 z-[99] sticky lg:fixed top-0
    &__container
      @apply w-full flex gap-x-6 items-center justify-between lg:justify-center max-w-lmd px-5 max-lg:flex-wrap
    &__mobile-icon, &__pseudo
      @apply lg:hidden size-6
    .site-logo
      @apply shrink-0 lg:mr-auto
      img
        @apply h-20 lg:h-25
    &__main
      @apply max-lg:hidden flex max-lg:flex-col py-3 lg:p-0 gap-5 lg:gap-6 max-lg:w-full max-lg:items-center
    &__nav
      @apply max-lg:w-full lg:bg-black/20 lg:shadow-nav rounded-10px flex max-lg:flex-col gap-5 lg:gap-6 lg:px-6 lg:h-10
      &-item
        @apply max-lg:w-full max-lg:h-10 text-white uppercase lg:capitalize flex-container font-semibold rounded-10px border-0.5px border-gray-2/40 bg-black/20 shadow-btn-2 lg:border-0 lg:shadow-none lg:bg-transparent flex-container
        &-wrapper
          @apply size-full flex-container
        &-label 
          @apply max-lg:px-5 p-2.5 size-full flex-container relative line-clamp-1
        &:hover
          .site-header__nav-item-label
            @apply lg:bg-golden lg:text-gradient
        &.active
          @apply max-lg:p-2px
          .site-header__nav-item-wrapper
            @apply rounded-9px max-lg:bg-golden max-lg:shadow-btn-1-outside max-lg:p-1px
          .site-header__nav-item-label
            @apply rounded-lg bg-black/40 max-lg:shadow-btn-1-inside lg:bg-golden lg:text-gradient
            &::before
              @apply lg:content-[''] absolute bottom-0 w-full h-1 bg-golden rounded-4px
    &__cta 
      @apply h-10 flex items-center
      & > span > span
        @apply py-2.5 px-5
    .btn--dropdown
      @apply shrink-0 w-fit
      .dropdown__trigger
        @apply flex items-center gap-3 text-white
        .dropdown__label
          @apply flex items-center gap-3
      .lang-switcher
        @apply flex items-center gap-2
        &__flag-wrapper
          @apply flex-container p-2px rounded-10px bg-gray-4/40 bg-lang bg-contain bg-no-repeat
        &__flag-inner
          @apply size-full flex-container rounded-9px
          img
            @apply rounded-lg w-50px h-34px object-contain
        &__label
          @apply text-base font-light text-white

      .dropdown__list
        @apply rounded-10px border-gray-2/40 bg-popup p-2.5 gap-2.5 shadow-popup bg-black/60
      .dropdown__item:hover
        @apply bg-transparent
      .lang-switcher__option
        @apply flex items-center gap-2.5 p-0
        &-label
          @apply font-light text-sm text-white
        &-flag
          @apply w-6 h-18px rounded-2px overflow-hidden border-0.5px border-transparent
          img
            @apply object-contain size-full
        &:hover
          .lang-switcher__option-flag
            @apply bg-golden bg-clip-border shadow-lang
          .lang-switcher__option-label
            @apply bg-golden text-gradient
          
    &.mobile-open
      @apply fixed h-screen bg-header bg-cover bg-center items-start
      .site-header__main
        @apply max-lg:flex h-dynamic-nav
      .site-header__mobile-icon
        @apply self-center
    &.is-sticky
      @apply bg-header/80 backdrop-blur-sm

  .site-footer
    @apply rounded-t-10px shadow-popup bg-popup w-full flex-container
    &__container
      @apply w-full flex items-center flex-col gap-5 md:gap-6
    &__main
      @apply w-full flex max-xl:flex-col items-center gap-x-25 gap-y-5 py-2 md:py-6 px-5 max-w-lmd
    &__brand
      @apply flex flex-col items-center justify-center max-w-349px
      .site-logo 
        @apply relative flex-container
        img
          @apply h-25 lg:h-152px -mb-2
        &::before
          @apply max-xl:content-[''] absolute bottom-0 w-full h-1px bg-line
      &_description
        @apply max-lg:mt-2 max-xl:mt-4 text-gray-3 text-sm md:text-base font-light text-center
    &__nav
      @apply grid grid-cols-2 md:grid-cols-4 grow max-xl:w-full gap-x-5 gap-y-4 md:gap-x-6
    &__column
      @apply flex flex-col gap-2.5
      &_title
        @apply bg-golden text-gradient text-base/140 md:text-xl/140 font-semibold bg-repeat
        
      &_list
        @apply flex flex-col gap-2.5 text-base font-light w-full
    &__link
      @apply flex items-center gap-2.5 w-full text-xs md:text-base hover:text-primary 
      &_icon
        @apply shrink-0 text-inherit
      &_text
        @apply line-clamp-1 w-0 grow break-all text-inherit
        
    &__certification
      @apply w-full flex-container bg-gray-1/20 relative py-2 md:py-6
      &::before
        @apply md:content-[''] absolute top-0 w-full h-1px bg-line
      &_container
        @apply flex-container w-full gap-x-10 md:gap-x-50px gap-y-3 flex-wrap max-xs:max-w-250px
      img
        @apply object-contain size-10 md:size-20
    
    &__bottom
      @apply bg-black flex-container py-2.5 px-5 lg:py-6 gap-2.5 flex-col w-full -mt-5 md:-mt-6
    &__copyright
      @apply text-xs lg:text-2xl font-semibold lg:font-light
    &__dmca-status img
      @apply h-7 object-contain
  
  .site-main
    @apply w-full grow

  .site-logo
    img
      @apply object-contain
    
  .btn--primary
    @apply flex-container rounded-10px bg-gray-4/40 p-2px
    &__wrapper
      @apply size-full flex-container bg-golden shadow-btn-1-outside rounded-9px px-1px
    &__inner
      @apply size-full flex-container bg-black/40 shadow-btn-1-inside rounded-lg text-white

  .horizontal-mft
    @apply flex gap-2 md:gap-4 items-center justify-center w-full
    .mft-click
      @apply grow shrink-0 w-0

  .vertical-mft
    @apply flex flex-col gap-2 md:gap-4 items-center justify-start w-full

  .mft-click
    @apply w-full h-auto flex-container
    img, picture, a
      @apply size-full object-cover

  .side-section
    @apply w-full flex justify-center

  .btn--dropdown
    @apply flex relative flex-col gap-2

    .dropdown__trigger
      @apply flex gap-space text-black text-2xl/150 lg:text-lg/150

      .dropdown__indicator
        @apply text-2xl flex justify-center items-center cursor-pointer

    .dropdown__list
      @apply border-t-4 rounded-b min-w-full w-max py-2 absolute top-full right-0 shadow-md shadow-black/80 lg:max-h-246px gap-2
      &.dropdown__list--at-left
        @apply left-0 right-auto
      .dropdown__item
        @apply flex text-black text-xl/150 lg:text-base/150 px-4 cursor-pointer
        // Item cấp 1 có sub-menu flyout bên phải
        &--has-children
          @apply relative pr-8
          .dropdown__item--parent
            @apply flex items-center justify-between w-full gap-2
          .dropdown__item--arrow
            @apply shrink-0 text-base opacity-60
    &:hover
      .dropdown__list
        @apply lg:flex lg:flex-col
      .dropdown__indicator
        @apply lg:rotate-180

  .btn--scroll
    @apply size-fit flex-container transition duration-150
    &.btn--scroll--left
      .btn--scroll__span
        @apply rotate-90

    &.btn--scroll--right
      .btn--scroll__span
        @apply -rotate-90

    &.btn--scroll--up
      .btn--scroll__span
        @apply rotate-180
  .btn--scroll-window--top
    @apply size-10 rounded-lg shadow-md transition duration-300 backdrop-blur-sm border flex absolute right-4 bottom-20
    &:hover
      @apply  shadow-lg shadow-inner
    .btn--scroll__span, svg
      @apply flex text-lg text-primary

  .indicator--loading
    @apply size-full absolute top-0 left-0 flex justify-center items-center
    span
      @apply animate-spin

@layer utilities
  .lazy
    visibility: hidden

  .lazy.loaded
    visibility: visible

  .flex-container
    @apply flex items-center justify-center

  .hexagon-outline
    clip-path: polygon(calc(100% - 18px) 0%, 18px 0%, 0 50%, 3px 50%, 19px 2px,calc(100% - 19px) 2px, calc(100% - 3px) 50%, calc(100% - 19px) calc(100% - 2px), 19px calc(100% - 2px), 3px 50%, 0px 50%, 18px 100%, calc(100% - 18px) 100%, 100% 50%)

  .hexagon-solid
    clip-path: polygon(calc(100% - 18px) 0%, 100% 50%, calc(100% - 18px) 100%, 18px 100%, 0% 50%, 18px 0%)

  .text-gradient
    @apply bg-clip-text text-transparent bg-repeat
    background-size: 100% 1.4em

  .icon
    @apply text-inherit

    path
      @apply text-inherit

    path.transitioning
      animation: hidden 10ms
      transition: stroke-dashoffset 0.3s ease-in-out, stroke-dasharray 0.3s ease-in-out

  .scrollbar-hidden
    -ms-overflow-style: none
    scrollbar-width: none

  .scrollbar-hidden::-webkit-scrollbar
    display: none

  .justify-start-logical
    justify-content: start

  /* Chrome, Safari, Edge */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  /* Firefox */
  .no-spinner
    -moz-appearance: textfield

  .mft--1000x60, .mft--728x90, .mft--300x600, .mft--336x280, .mft--320x100
    @apply flex

  .mft--728x90
    @apply aspect-leader
    img, picture, a
      @apply max-w-728px max-h-90px

  .mft--1000x60
    @apply aspect-feed
    img, picture, a
      @apply max-w-250 max-h-15

  .mft--300x600
    @apply aspect-half
    img, picture, a
      @apply max-w-300px max-h-150

  .mft--336x280
    @apply aspect-rectangle
    img, picture, a
      @apply max-w-336px max-h-70

  .mft--320x100
    @apply aspect-mobile
    img, picture, a
      @apply max-w-80 max-h-25

  .mft--250x250
    @apply aspect-square
    img, picture, a
      @apply max-w-250px max-h-250px

  .mft--sticky
    @apply sticky top-110px z-[91]
