
extends ../layouts/_default

block head
    link(rel="stylesheet" href="css/index.css")


block content
    include ../partials/home/_hero_section
    include ../partials/home/_tech_section
    include ../partials/home/_production_section



block script
    script(src="js/index.bundle.js")


