
extends ../layouts/_default

block head
    link(rel="stylesheet" href="css/index.css")


block content
    //- div(class="relative flex justify-center items-center w-full")
    //-     div(class="hexagon-solid" style="background: red; width: 180px; height: 36px")
    //-     div(class="absolute hexagon-outline" style="background: black; width: 200px; height: 40px")
    include ../partials/home/_hero_section
    include ../partials/home/_strength_section



block script
    script(src="js/index.bundle.js")


